<?xml version="1.0" encoding="utf-8" ?>

	<configuration>
		<connectionStrings>
			<add name="VicidialEntities" connectionString="metadata=res://*/Vicidial.csdl|res://*/Vicidial.ssdl|res://*/Vicidial.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.11.20.46;User Id=root;password=asterisk;Persist Security Info=True;database=asterisk&quot;" providerName="System.Data.EntityClient" />
		</connectionStrings>
	</configuration>
